.chat-box {
    /* border: 1px solid black; */
    /* background-color: red; */
    width: 270px;
    height: 275px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-header {
    position: relative;
    right: 19.5px;
}

.button-sect {
    /* position: absolute;
    bottom: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black */
    position: relative;
    right: 19.5px;
}

.messages {
    overflow-y: auto;
    overflow-x: auto;
    /* background-color: rgb(128, 0, 75); */
    width: 245px;
    height: 250px;
    /* border: 1px solid red; */
    position: relative;
    right: 19.5px;
    padding: 5px;
}

.chat-title {
    /* position: absolute;
    top: 10px; */
    /* border: 1px solid black; */
    margin: 0px;
}

.send-button {
    background-color: #123C69;
    color: white;
    border-radius: 4px;
}

button {
    width: 100px;
}

input {
    width: 245px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
