.chat-area {
    border: 1px solid pink;
    /* background-color: red; */
    width: 250px;
    height: 275px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.chat-header {
    /* position: relative;
    right: 19.5px; */
}

.button-sect {
    /* position: absolute;
    bottom: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -20px;
    /* border: 1px solid black */
    /* position: relative;
    right: 19.5px; */
}

.messages-area {
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
    width: 240px;
    height: 200px;
    border: 1px solid green;
    /* position: relative;
    right: 19.5px; */
    /* padding: 5px; */
}

.chat-title {
    /* position: absolute;
    top: 10px; */
    /* border: 1px solid black; */
    margin: 0px;
}

.send-button {
    background-color: #123C69;
    color: white;
    border-radius: 4px;
}

button {
    width: 100px;
}

input {
    width: 245px;
}

.chat-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -10px; */
    margin-bottom: 0;
}

/* .chat-form input {
    margin-top: 30px;
} */
