#calendar {
    width: 1000px;
    /* display: flex; */
}

.group-details-page {
    display: flex;
    justify-content: center;
    /* height: 100%; */
    /* height: calc(100vh - 124px); */
}

body {
    /* height: calc(100vh - 124px); */
    /* height: 100%; */
    min-height: 100vh;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    width: 1320px;
    border-radius: 15px;
    background-color: rgb(0,0,0,.35);
    padding: 10px;
    padding-top: 15px;
    margin: 15px;
}


/* .nonmem-all {
    height: calc(100vh - 124px);
} */

.group-title {
    text-align: center;
}

.details-header {
    /* border: 1px solid blue; */
    margin: 5px;
    color: white;
}

.group-details {
    display: flex;
    /* border: 1px solid green; */
    width: 1320px;
}

.group-info-dets {
    text-align: left;
}

.left-side {
    /* border: 1px solid black; */
    width: 300px;
}

.right-side {
    /* border: 1px solid pink; */
    width: 1020px;
}

.calendar-sect {
    display: flex;
}

.calendar-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-buttons {
    width: 50px;
    height: 50px;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /* background-color: #EEE2DC; */
}

.dropdown-button {
    width: 280px;
    height: 50px;
    padding: 2px;
    background-color: #AC3B61;
    margin: 2px;
}

.content {
    display: none;
    position: relative;
    background-color: #BAB2B5;
    width: 250px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    /* z-index: 1; */
    border: 1px solid purple;
    left: 10px;
    padding: 5px;
}

.member-dropdown-content {
    height: 350px;
    /* overflow-y: auto;
    overflow-x: auto; */
}

.member-title {
    /* margin: 5px; */
    text-align: center;
}

.member-list {
    height: 280px;
    overflow-y: auto;
    overflow-x: auto;
    padding-left: 5px;
}

.show {
    display: block;
}

.chat-dropdown-content {
    height: 300px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
}

.request-title {
    margin: 10px;
}

.member-list-link {
    margin-top: 10px;
    margin-bottom: 20px;
}

.request-list-link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.no-requests {
    text-align: center;
}

/* .group-header {

} */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
