.calendar {
    width: 900px;
    height: 600px;
    background-color: white;
}

.month-label {
    height: 40px;
}

.day-label {
    height: 20px;
}

.week-row {
    height: 110px;
}

.day {
    width: 120px;
}

.hidden {
    display: hidden;
}

.covered {
    background-color: green;
    border-radius: 5px;
    padding: 2px;
}

.not-covered {
    background-color: red;
    border-radius: 5px;
    padding: 2px;
}

.shifts {
    overflow-y: auto;
    height: 80px;
}

.shifts::-webkit-scrollbar {
    display: none;
}
