.calendar {
    width: 840px;
    height: 500px;
}

.day {
    width: 120px;
}

.hidden {
    display: hidden;
}

.covered {
    background-color: green;
}

.not-covered {
    background-color: red;
}
