.profile-dropdowns {
  position: absolute;
}

.hidden {
  display: none;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.coverMeLogo {
  height: 100px;
  width: 120px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.logo {
  height: 120px;
  object-fit: contain;
  /* width: 100px; */
}

.dropdowns {
  position: relative;
  display: inline-block;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.dropdown-contents {
  display: none;
  position: absolute;
  top: 50px;
  left: -17px;
  background-color: #f1f1f1;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
  /* height: 125px; */
  border: 1px solid black;
}


.show-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  list-style-type: none;
  /* margin-left: 5px; */
}

.user-list {
  padding-left: 0px;
  height: 75px;
  border: 1px solid red;
  padding: 5px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-info {
  margin-left: 20px;
  /* background-color: green; */
  /* height: 5px; */
}

.logout {
  /* margin-top: 5px; */
}

.home-link {
  font-size: 30px;
}
